.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 75%;

    .profile-content-name {
        font-size: 2.2rem;
    }

    .profile-content-inputs {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .profile-content-input {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .profile-content-input-label {
        font-size: 1.6rem;
        width: 80px;
    }

    .profile-content-input-field {
        padding: 1rem;
        text-align: center;
        font-size: 1.2rem;
        border-radius: 6px;
    }

    .profile-content-verified {
        text-align: center;
        font-size: 2rem;
    }

    .profile-content-not-verified {
        text-align: center;
        font-size: 2rem;
    }

    .profile-content-button {
        button {
            font-family: 'Noto Sans', sans-serif;
            cursor: pointer;
            box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
            width: 115px;
            line-height: 1rem;
            padding: .7rem;
            border: none;
            border-radius: 2rem;
            background: #658352;
            color: #fff;
            font-weight: bold;
            flex: 0 0 auto;
            transition: all 0.18s ease-in;
            margin-top: -1.6rem;
        }
    
        @media (max-width: 1070px) {
            button {
                width: 100px;
            }
        }
    
        @media (max-width: 500px) {
            button {
                width: 86px;
            }
        }
    
    
        button:hover {
            background: #0f1a08;
            box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
          }
    }

}
