.reminder-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    font-size: 1.6rem;
    width: 100%;

    .reminder-list-empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        font-size: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

    }
}


@media (max-height: 700px) {
    .reminder-list {
        padding-top: 4rem;
        gap : 2.2rem;
    }
 }

 @media (max-height: 900px) {
    .reminder-list {
        padding-top: 2rem;
        gap : 1.6rem;
    }
 }

 @media (max-width: 300px) {
    .reminder-list {
        font-size: 1.2rem
    }
 }