.auth-loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reminders-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 5rem;
}