.auth-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reminders-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: var(--space-6);
}
